*, :after, :before {
    -webkit-box-sizing: border-box;
    box-sizing: border-box
}

blockquote, body, button, code, dd, div, dl, dt, fieldset, form, h1, h2, h3, h4, h5, h6, input, legend, li, ol, p, pre, select, td, textarea, th, ul {
    margin: 0;
    padding: 0
}

dl, li, menu, ol, ul {
    list-style: none
}

address, caption, cite, code, dfn, em, var {
    font-style: normal
}

fieldset, iframe, img {
    border: 0
}

img {
    max-width: 100%;
    height: auto;
    -webkit-backface-visibility: hidden
}

audio, button, canvas, iframe, img, input, select, svg, textarea, video {
    vertical-align: middle
}

textarea {
    resize: none
}

input::-ms-clear {
    display: none
}

button {
    border: 0;
    background-color: transparent;
    cursor: pointer
}

button, input[type=button], input[type=file], input[type=reset] {
    border-radius: 0;
    -webkit-appearance: button
}

input[type=image], input[type=password], input[type=search], input[type=submit], input[type=text] {
    border-radius: 0;
    -webkit-appearance: none
}

input:checked[type=checkbox] {
    -webkit-appearance: checkbox;
    background-color: transparent
}

input[type=search]::-webkit-search-cancel-button {
    -webkit-appearance: none
}

table {
    border-collapse: collapse;
    border-spacing: 0;
    empty-cells: show
}

caption, legend {
    position: absolute;
    top: -9999px;
    left: -9999px;
    font-size: 0;
    line-height: 0
}

a {
    color: #333;
    text-decoration: none;
    select-dummy: expression(this.hideFocus=true)
}

a:active {
    background-color: transparent
}

hr {
    display: none
}

input, textarea {
    -webkit-apperence: none
}

.modal.open, article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section {
    display: block
}

blockquote, q {
    quotes: none
}

blockquote:after, blockquote:before, q:after, q:before {
    content: none
}

sub, sup {
    line-height: 0
}

html {
    width: 100%;
    font-family: 'Noto Serif KR', sans-serif;
    font-size: 16px;
    height: 100%;
    line-height: 1
}

ol:after, ul:after {
    content: '';
    clear: both;
    display: block
}

@font-face {
    font-family: 'Noto Serif KR';
    font-style: normal;
    font-weight: 200;
    src: url(../fonts/noto-serif-kr-v6-korean-200.eot);
    src: local("Noto Serif KR ExtraLight"), local("NotoSerifKR-ExtraLight"), url(../fonts/noto-serif-kr-v6-korean-200.eot?#iefix) format("embedded-opentype"), url(../fonts/noto-serif-kr-v6-korean-200.woff2) format("woff2"), url(../fonts/noto-serif-kr-v6-korean-200.woff) format("woff")
}

@font-face {
    font-family: 'Noto Serif KR';
    font-style: normal;
    font-weight: 400;
    src: url(../fonts/noto-serif-kr-v6-korean-regular.eot);
    src: local("Noto Serif KR"), local("NotoSerifKR-Regular"), url(../fonts/noto-serif-kr-v6-korean-regular.eot?#iefix) format("embedded-opentype"), url(../fonts/noto-serif-kr-v6-korean-regular.woff2) format("woff2"), url(../fonts/noto-serif-kr-v6-korean-regular.woff) format("woff")
}

@font-face {
    font-family: 'Noto Serif KR';
    font-style: normal;
    font-weight: 300;
    src: url(../fonts/noto-serif-kr-v6-korean-300.eot);
    src: local("Noto Serif KR Light"), local("NotoSerifKR-Light"), url(../fonts/noto-serif-kr-v6-korean-300.eot?#iefix) format("embedded-opentype"), url(../fonts/noto-serif-kr-v6-korean-300.woff2) format("woff2"), url(../fonts/noto-serif-kr-v6-korean-300.woff) format("woff")
}

@font-face {
    font-family: 'Noto Serif KR';
    font-style: normal;
    font-weight: 500;
    src: url(../fonts/noto-serif-kr-v6-korean-500.eot);
    src: local("Noto Serif KR Medium"), local("NotoSerifKR-Medium"), url(../fonts/noto-serif-kr-v6-korean-500.eot?#iefix) format("embedded-opentype"), url(../fonts/noto-serif-kr-v6-korean-500.woff2) format("woff2"), url(../fonts/noto-serif-kr-v6-korean-500.woff) format("woff")
}

@font-face {
    font-family: 'Noto Serif KR';
    font-style: normal;
    font-weight: 600;
    src: url(../fonts/noto-serif-kr-v6-korean-600.eot);
    src: local("Noto Serif KR SemiBold"), local("NotoSerifKR-SemiBold"), url(../fonts/noto-serif-kr-v6-korean-600.eot?#iefix) format("embedded-opentype"), url(../fonts/noto-serif-kr-v6-korean-600.woff2) format("woff2"), url(../fonts/noto-serif-kr-v6-korean-600.woff) format("woff")
}

@font-face {
    font-family: 'Noto Serif KR';
    font-style: normal;
    font-weight: 700;
    src: url(../fonts/noto-serif-kr-v6-korean-700.eot);
    src: local("Noto Serif KR Bold"), local("NotoSerifKR-Bold"), url(../fonts/noto-serif-kr-v6-korean-700.eot?#iefix) format("embedded-opentype"), url(../fonts/noto-serif-kr-v6-korean-700.woff2) format("woff2"), url(../fonts/noto-serif-kr-v6-korean-700.woff) format("woff")
}

@font-face {
    font-family: 'Noto Serif KR';
    font-style: normal;
    font-weight: 900;
    src: url(../fonts/noto-serif-kr-v6-korean-900.eot);
    src: local("Noto Serif KR Black"), local("NotoSerifKR-Black"), url(../fonts/noto-serif-kr-v6-korean-900.eot?#iefix) format("embedded-opentype"), url(../fonts/noto-serif-kr-v6-korean-900.woff2) format("woff2"), url(../fonts/noto-serif-kr-v6-korean-900.woff) format("woff")
}

@font-face {
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 100;
    src: url(../fonts/noto-sans-kr-v12-latin_korean-100.eot);
    src: local("Noto Sans KR Thin"), local("NotoSansKR-Thin"), url(../fonts/noto-sans-kr-v12-latin_korean-100.eot?#iefix) format("embedded-opentype"), url(../fonts/noto-sans-kr-v12-latin_korean-100.woff2) format("woff2"), url(../fonts/noto-sans-kr-v12-latin_korean-100.woff) format("woff")
}

@font-face {
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 200;
    src: url(../fonts/noto-sans-kr-v12-latin_korean-300.eot);
    src: local("Noto Sans KR Light"), local("NotoSansKR-Light"), url(../fonts/noto-sans-kr-v12-latin_korean-300.eot?#iefix) format("embedded-opentype"), url(../fonts/noto-sans-kr-v12-latin_korean-300.woff2) format("woff2"), url(../fonts/noto-sans-kr-v12-latin_korean-300.woff) format("woff")
}

@font-face {
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 300;
    src: url(../fonts/noto-sans-kr-v12-latin_korean-regular.eot);
    src: local("Noto Sans KR Regular"), local("NotoSansKR-Regular"), url(../fonts/noto-sans-kr-v12-latin_korean-regular.eot?#iefix) format("embedded-opentype"), url(../fonts/noto-sans-kr-v12-latin_korean-regular.woff2) format("woff2"), url(../fonts/noto-sans-kr-v12-latin_korean-regular.woff) format("woff")
}

@font-face {
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 500;
    src: url(../fonts/noto-sans-kr-v12-latin_korean-500.eot);
    src: local("Noto Sans KR Medium"), local("NotoSansKR-Medium"), url(../fonts/noto-sans-kr-v12-latin_korean-500.eot?#iefix) format("embedded-opentype"), url(../fonts/noto-sans-kr-v12-latin_korean-500.woff2) format("woff2"), url(../fonts/noto-sans-kr-v12-latin_korean-500.woff) format("woff")
}

@font-face {
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 700;
    src: url(../fonts/noto-sans-kr-v12-latin_korean-700.eot);
    src: local("Noto Sans KR Bold"), local("NotoSansKR-Bold"), url(../fonts/noto-sans-kr-v12-latin_korean-700.eot?#iefix) format("embedded-opentype"), url(../fonts/noto-sans-kr-v12-latin_korean-700.woff2) format("woff2"), url(../fonts/noto-sans-kr-v12-latin_korean-700.woff) format("woff")
}

@font-face {
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 900;
    src: url(../fonts/noto-sans-kr-v12-latin_korean-900.eot);
    src: local("Noto Sans KR Black"), local("NotoSansKR-Black"), url(../fonts/noto-sans-kr-v12-latin_korean-900.eot?#iefix) format("embedded-opentype"), url(../fonts/noto-sans-kr-v12-latin_korean-900.woff2) format("woff2"), url(../fonts/noto-sans-kr-v12-latin_korean-900.woff) format("woff")
}

:focus {
    outline: 0 !important
}

::-moz-focus-inner {
    outline: 0 !important
}

* {
    -webkit-tap-highlight-color: transparent
}

body {
    font-size: 100%;
    width: 100%;
    height: 100%
}

h1 {
    font-size: 0;
    text-indent: -9999px
}

.skip_navigation a {
    position: absolute;
    left: -99999%;
    text-decoration: none
}

.skip_navigation a:focus {
    display: block;
    left: 0;
    top: 0;
    z-index: 999999;
    width: 100%;
    height: 30px;
    line-height: 30px;
    background: #000;
    color: #fff;
    text-align: center;
    font-weight: 700
}

.clearfix, header nav ul {
    *zoom: 1
}

.clearfix:after, header nav ul:after, section .cont_box.main .box_title h2:after, section .cont_box.sub01 .calendar .days:after, section .cont_box.sub02 .img_list:after, section .cont_box.sub04 .contact .contact_box:after, section .cont_box.sub04 .contact .contact_box > li .tell:after {
    display: block;
    clear: both;
    content: ""
}

.hide {
    display: none
}

.fr {
    float: right
}

.fl {
    float: left
}

.tr {
    text-align: right !important
}

.tl {
    text-align: left !important
}

.tc {
    text-align: center !important
}

header {
    width: 100%;
    height: 50px;
    padding: 17px 0;
    background: #fff;
    position: relative;
    z-index: 5
}

header nav ul li {
    float: left;
    width: 20%;
    border-right: 1px solid #50572d
}

header nav ul li:last-child {
    border-right: 0
}

header nav ul li a {
    font-family: 'Noto Sans KR', sans-serif;
    display: block;
    width: 100%;
    height: 100%;
    text-align: center;
    color: #50572d;
    font-size: .875rem;
    font-weight: 700
}

header nav ul li a.on {
    color: #f87796
}

section {
    width: 100%;
    height: calc(100% - 1px);
    position: relative;
    overflow-y: auto;
    scroll-behavior: smooth;
    background-attachment: fixed;
    background: url(../images/main_bg.jpg) no-repeat;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center
}

section .cont_box {
    width: 100%;
    background: #fff;
    overflow: hidden
}

section .cont_box.main {
    height: calc(100% - 50px);
    position: relative;
    background: 0 0;
    z-index: 1
}

section .cont_box.main .box_title {
    width: 100%;
    height: 168px;
    background: rgba(255, 255, 255, .8);
    padding: 77px 0;
    text-align: center;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    position: relative;
    z-index: 20
}

section .cont_box.main .box_title h2 {
    *zoom: 1;
    display: inline-block;
    margin: 0 auto
}

section .cont_box.main .box_title h2 em {
    color: #50572d;
    font-size: 1.25rem;
    font-weight: 500;
    float: left;
    letter-spacing: 5px
}

section .cont_box.main .box_title h2 i {
    color: #50572d;
    font-size: 1.25rem;
    font-weight: 500;
    float: left;
    font-style: normal;
    width: 40px
}

section .cont_box.main .box_title p {
    margin-top: 16px;
    color: #50572d;
    font-size: .5625rem;
    font-weight: 500
}

section .cont_box.main .box_title p em {
    margin-right: 15px;
    letter-spacing: .15rem
}

section .cont_box.main .box_title p em:last-child {
    margin-right: 0
}

section .cont_box.main .dday {
    opacity: 0;
    width: 100%;
    height: 240px;
    padding: 20% 0;
    position: relative;
    z-index: 1;
    background: -webkit-gradient(linear, left bottom, left top, from(transparent), to(rgba(0, 0, 0, .5)));
    background: -o-linear-gradient(bottom, transparent, rgba(0, 0, 0, .5));
    background: linear-gradient(to top, transparent, rgba(0, 0, 0, .5))
}

section .cont_box.main .dday p {
    font-style: italic;
    color: #fff;
    font-size: 2.75rem;
    font-weight: 700;
    text-align: center;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, .3)
}

section .cont_box.main div.scroll_icon {
    position:absolute;
    z-index:9999;
    margin:0 auto;
    text-align:center;
    width:100%;
    height: 30px;
    bottom: 50px;
}

section .cont_box.main  p.scroll_down {
    position: relative;
    animation-name: scroll_down;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}

section .cont_box.main  p.scroll_down img{
    height: 40px;
}

@keyframes scroll_down {
    0%   {top:0px;}
    50%  {top:20px;}
    100% {top:0px;}
}

section .cont_box.sub01 {
    position: relative;
    padding: 20% 5%;
    z-index: 2
}

section .cont_box.sub01:after, section .cont_box.sub02:after {
    display: block;
    content: "";
    width: 100%;
    height: 100%;
    background-size: 100%;
    position: absolute;
    z-index: 1
}

section .cont_box.sub01:after {
    background: url(../images/sub01_bg.webp) no-repeat;
    top: 0;
    left: 0;
    background-size: 100%;
}

section .cont_box.sub01 .calendar, section .cont_box.sub01 .cont_title, section .cont_box.sub01 .text {
    position: relative;
    z-index: 10;
    opacity: 0
}

section .cont_box.sub01 .text p {
    text-align: left;
    color: #9f907e;
    font-size: .8125rem;
    font-weight: 400;
    line-height: 2.0625rem;
    margin-top: 35px
}

section .cont_box.sub01 .calendar {
    width: 100%
}

section .cont_box.sub01 .calendar .title h2 {
    text-align: center;
    margin: 80px 0 20px;
    font-weight: 700;
    color: #50572d
}

section .cont_box.sub01 .calendar .title h2 span {
    padding-bottom: 5px;
    border-bottom: 2px solid #fed5df
}

section .cont_box.sub01 .calendar .days {
    width: 100%;
    margin: 0 auto;
    *zoom: 1
}

section .cont_box.sub01 .calendar .days li {
    height: 40px;
    text-align: center;
    display: block;
    float: left;
    width: 14.342%;
    padding: 5px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin-right: -1px;
    margin-bottom: -1px;
    color: #9f907e;
    font-weight: 700
}

section .cont_box.sub01 .calendar .days li.d_day {
    position: relative;
    color: #fff;
    font-weight: 800
}

section .cont_box.sub01 .calendar .days li.d_day:after {
    display: block;
    content: "";
    width: 27px;
    height: 27px;
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -15px;
    z-index: 2;
    background: #fed5df;
    border-radius: 50%
}

section .cont_box.sub01 .calendar .days li.d_day .date {
    position: relative;
    z-index: 3
}

section .cont_box.sub01 .calendar .days li.other-month {
    color: #ccc;
    font-weight: 300
}

section .cont_box.sub01 .dday2 {
    text-align: right;
    opacity: 0;
    margin-top: 40px;
    font-size: 24px;
    font-weight: 600;
    color: #4e542b;
}

section .cont_box.sub02 {
    position: relative;
    padding: 0 5% 20%;
    z-index: 2
}

section .cont_box.sub02:after {
    background: url(../images/sub02_bg.webp) no-repeat;
    background-position: bottom;
    left: 0;
    bottom: 0;
    background-size: 100%;
}

section .cont_box.sub02 .cont_title {
    position: relative;
    z-index: 2;
    margin-bottom: 25px;
    opacity: 0
}

section .cont_box.sub02 .img_list {
    position: relative;
    z-index: 2;
    width: 100%;
    /*padding: 0 15px;*/
    *zoom: 1
}

section .cont_box.sub02 .img_list li {
    opacity: 0;
    float: left;
    width: calc(33.33% - 10px);
    margin-right: 15px;
    margin-top: 15px;
    overflow: hidden
}

section .cont_box.sub02 .img_list li:nth-child(3n) {
    margin-right: 0
}

section .cont_box.sub03 {
    position: relative;
    padding: 10% 5% 20%;
    z-index: 2
}

section .cont_box.sub03 .cont_title p {
    margin-top: 20px;
    text-align: left;
    color: gray;
    font-weight: 500;
    line-height: 1.875rem;
    opacity: 0
}

section .cont_box.sub03 .map {
    opacity: 0;
    width: 100%;
    margin: 20px auto 0;
    position: relative
}

section .cont_box.sub03 .map .map_btn {
    position: absolute;
    bottom: 15px;
    left: 0;
    margin: 0 15px;
    width: calc(100% - 30px);
    background: rgba(255, 255, 255, .8);
    padding-bottom: 15px
}

section .cont_box.sub03 .map .map_btn .fl {
    padding-left: 15px
}

section .cont_box.sub03 .map .map_btn .fl h3 {
    margin-top: 15px;
    font-size: 1rem;
    color: #6b9566;
    font-weight: 700
}

section .cont_box.sub03 .map .map_btn .fl p {
    font-size: .75rem;
    color: #a99c8c;
    font-weight: 700;
    margin-top: 5px
}

section .cont_box.sub03 .map .map_btn .fr {
    padding-right: 15px
}

section .cont_box.sub03 .map .map_btn .fr a {
    display: inline-block;
    min-width: 40px;
    height: calc(100% - 15px);
    margin-top: 17px;
    font-size: .5rem;
    padding: 30px 5px 0;
    text-align: center;
    position: relative;
    color: #a99c8c
}

section .cont_box.sub03 .map .map_btn .fr a:after {
    display: block;
    content: "";
    background-size: 100% 100%;
    position: absolute;
    top: 0;
    left: 50%
}

section .cont_box.sub03 .map .map_btn .fr a.kakao_map:after {
    background-image: url(../images/kakaomap.webp);
    width: 18px;
    height: 24px;
    margin-left: -9px
}

section .cont_box.sub03 .map .map_btn .fr a.t_map:after {
    background-image: url(../images/tmap.webp);
    width: 18px;
    height: 26px;
    margin-left: -9px
}

section .cont_box.sub03 .map .map_btn .fr a.kakao_navi:after {
    background-image: url(../images/kakaonavi.webp);
    width: 22px;
    height: 26px;
    margin-left: -11px
}

section .cont_box.sub04 {
    height: 100%;
    position: relative;
    padding: 20% 5% 30%;
    z-index: 2
}

section .cont_box.sub03 .cont_title h2, section .cont_box.sub04 .cont_title {
    opacity: 0
}

section .cont_box.sub04 .contact {
    width: 100%;
    margin: 20px auto 0
}

section .cont_box.sub04 .contact .contact_box {
    *zoom: 1
}

section .cont_box.sub04 .contact .contact_box > li {
    opacity: 0;
    width: calc(50% - 5px);
    margin-left: 10px;
    float: left;
    padding: 15px;
    border: 2px solid #f6d0a9
}

section .cont_box.sub04 .contact .contact_box > li h3 {
    padding-top: 100px;
    font-size: 0.875rem;
    font-weight: 700;
    text-align: center;
    color: #9f907e;
    position: relative
}

section .cont_box.sub04 .contact .contact_box > li h3:after {
    display: block;
    content: "";
    background: url(../images/contack02.webp) no-repeat;
    width: 85px;
    height: 85px;
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -42px;
    background-size: 100%
}

section .cont_box.sub04 .contact .contact_box > li p {
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 0.5rem;
    font-weight: 500;
    text-align: center;
    color: #9f907e;
    margin-top: 5px
}

section .cont_box.sub04 .contact .contact_box > li:first-child {
    margin-left: 0;
    border: 2px solid #b9c7b8
}

section .cont_box.sub04 .contact .contact_box > li:first-child h3:after {
    display: block;
    content: "";
    background: url(../images/contack01.webp) no-repeat;
    width: 85px;
    height: 85px;
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -42px;
    background-size: 100%
}

section .cont_box.sub04 .contact .contact_box > li:first-child .tell li:first-child {
    border-right: 2px solid #b9c7b8
}

section .cont_box.sub04 .contact .contact_box > li .tell {
    *zoom: 1;
    margin-top: 20px
}

section .cont_box.sub04 .contact .contact_box > li .tell li {
    float: left;
    width: 50%;
    height: 39px;
    padding: 0 10%
}

section .cont_box.sub04 .contact .contact_box > li .tell li:first-child {
    border-right: 2px solid #f6d0a9
}

section .cont_box.sub04 .contact .contact_box > li .tell li:first-child a {
    display: block;
    width: 100%;
    height: 100%;
    text-align: center
}

section .cont_box.sub04 .contact .contact_box > li .tell li:first-child a img {
    width: 100%;
    max-width: 30px;
    height: 100%;
    max-height: 30px;
    margin-top: 4px
}

section .cont_box.sub04 .contact .contact_box > li .tell li:last-child a {
    display: block;
    width: 100%;
    height: 100%;
    text-align: center
}

section .cont_box.sub04 .contact .contact_box > li .tell li:last-child a img {
    width: 100%;
    max-width: 33px;
    height: 100%;
    max-height: 25px;
    margin-top: 7px
}

.contact_last{
    padding-top: 20%;
    text-align: center;
}

.contact_last p:first-child{
    font-size: 16px;
    color: #d78575;
    font-weight: 500;
}

.contact_last p:last-child{
    font-size: 14px;
    color: #808080;
    font-weight: 500;
    margin-top: 10px;
}

.footer{
    margin-top: 20%;
    width: 110%;
    background-color: #f4f4f4;
    padding: 15px 0;
    margin-left: -5%;
}

.footer p{
   text-align: center;
    font-weight: 500;
    line-height: 24px;
    font-size: 14px;
}

section .cont_box .cont_title h2 {
    padding-top: 27px;
    text-align: left;
    color: #9f907e;
    font-size: 1.25rem;
    font-weight: 700;
    position: relative
}

section .cont_box .cont_title h2:after {
    display: block;
    content: "";
    background: url(../images/title_icon.webp) no-repeat;
    width: 50px;
    height: 20px;
    background-size: 100% 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.modal {
    display: none;
    position: fixed;
    z-index: 50;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    padding-top: 50px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    background-color: #000;
    background-color: rgba(0, 0, 0, .9)
}

.caption, .modal-content {
    display: block;
    width: 100%
}

.caption {
    margin: auto;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px
}

.close {
    color: #fff;
    position: absolute;
    top: 15px;
    right: 15px;
    font-size: 30px;
    z-index: 100
}